name: Build and Push

on:
  push:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build and Push
        run: |
          # On compile uniquement ton extension et on ENLÈVE le test qui a planté (-x)
          ./gradlew :src:fr:franime:assembleDebug -x lintKotlinMain -x lint -x check
          
          # On prépare les fichiers pour le repo
          mkdir -p repo-files/apk
          find src/fr/franime/build/outputs/apk/debug/ -name "*.apk" -exec cp {} repo-files/apk/franime.apk \;
          
          # Création du JSON
          cd repo-files
          echo '[{"name":"FrAnime","pkg":"eu.kanade.tachiyomi.animeextension.fr.franime","apk":"franime.apk","versionCode":20,"lang":"fr"}]' > index.min.json

      - name: Deploy
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: repo # C'est cette branche qui servira de lien à Aniyomi
          FOLDER: repo-files
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}