name: Build and Push Aniyomi Repo

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build APK
        # On utilise -x lint pour ignorer les erreurs de style sans nommer ktlint
        run: ./gradlew assembleRelease -x lint

      - name: Prepare Repo
        run: |
          mkdir -p repo-files/apk
          cp src/fr/franime/build/outputs/apk/release/*.apk repo-files/apk/
          
          cd repo-files
          echo "[" > index.min.json
          echo "  {" >> index.min.json
          echo "    \"name\": \"FrAnime\"," >> index.min.json
          echo "    \"pkg\": \"eu.kanade.tachiyomi.animeextension.fr.franime\"," >> index.min.json
          echo "    \"apk\": \"$(ls apk/)\"," >> index.min.json
          echo "    \"versionCode\": 20," >> index.min.json
          echo "    \"lang\": \"fr\"" >> index.min.json
          echo "  }" >> index.min.json
          echo "]" >> index.min.json

      - name: Deploy to Repo Branch
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: repo
          FOLDER: repo-files
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
