name: Build and Push Aniyomi Repo

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build APK (Debug)
        run: ./gradlew assembleDebug -x lintKotlinMain -x ktlintCheck

      - name: Prepare Repo
        run: |
          mkdir -p repo-files/apk
          # On copie l'APK généré
          cp src/fr/franime/build/outputs/apk/debug/*.apk repo-files/apk/
          
          # Génération automatique du index.min.json
          curl -L "https://github.com/keiyoushi/extensions-inspector/releases/latest/download/Inspector.jar" -o Inspector.jar
          java -jar Inspector.jar "repo-files/apk" "repo-files/index.min.json" "tmp"

      - name: Deploy to Repo Branch
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: repo
          FOLDER: repo-files
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
