name: Build FRAnime Only

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build Only FRAnime
        # On cible uniquement ton dossier pour éviter les erreurs des autres extensions
        run: ./gradlew :src:fr:franime:assembleDebug -x lint -x check

      - name: Prepare Repo
        run: |
          mkdir -p repo-files/apk
          # On cherche l'APK précisément là où il est généré
          find src/fr/franime/build/outputs/apk/debug/ -name "*.apk" -exec cp {} repo-files/apk/ \;
          
          cd repo-files
          echo "[" > index.min.json
          echo "  {" >> index.min.json
          echo "    \"name\": \"FrAnime\"," >> index.min.json
          echo "    \"pkg\": \"eu.kanade.tachiyomi.animeextension.fr.franime\"," >> index.min.json
          echo "    \"apk\": \"$(ls apk/)\"," >> index.min.json
          echo "    \"versionCode\": 20," >> index.min.json
          echo "    \"lang\": \"fr\"" >> index.min.json
          echo "  }" >> index.min.json
          echo "]" >> index.min.json

      - name: Deploy to Repo Branch
        env:
          REPO: self
          BRANCH: repo
          FOLDER: repo-files
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
