# Sync repo to the Codeberg mirror
name: Mirror Sync

on:
  push:
    branches: [ "master" ]
  workflow_dispatch: # Manual dispatch
  schedule:
    - cron: "0 */8 * * *"

jobs:
  codeberg:
    if: github.repository == 'yuzono/aniyomi-extensions'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@674e65a7d483ca28dafaacba0d07351bdcc8bd75 # v1.1.1
        with:
          target_repo_url: "git@codeberg.org:cuong-tran/aniyomi-extensions.git"
          ssh_private_key: ${{ secrets.CODEBERG_SSH }}
